body {
    font-family: 'Source Sans Pro';
    background: #F0F0F0;
}
.container {
    max-width: 80%;
}
.navbar {
    background: #0355D0;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.header-btn {
    background: #FB5404;
    border-radius: 50px;
    color: #ffffff;
    padding: 10px 24px;
}

.header-btn:hover {
    color: #ffffff;
}

.register-header h2 {
    color: #0355D0;
}

.open-quote {
    background: #D0E8FF;
    border-radius: 8px;
    color: #181722;
    padding: 12px 15px;
}

.hr-speech p {
    color: #46454E;
    font-weight: 400;
}

.hr-speech a {
    color: #fff;
}

.social-icon {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    padding: 4px 9px;
}

.hr-name {
    color: #46454E;
    font-weight: 600;
}

.hr-position {
    color: #46454E;
    font-weight: 400;
}

.register-box {
    border-radius: 16px;
}

.contact-box {
    border-radius: 16px 0 0 16px;
    background: #0355D0;
    color: #fff;
}

.contact-form-box {
    border-radius: 0 16px 16px 0;
    border: 1px solid #88C3FF;
}

.contact-form-header h2 {
    color: #0355D0;
}

.bg-yellow {
    background: yellow;
}

.contact-header h2 {
    color: #fff;
}

.contact-icon {
    background: #42A1FF;
    border-radius: 8px;
    color: #fff;
    padding: 12px 15px;
    font-size: 16px;
}

.register-btn .nav-link {
    border-radius: 8px;
    padding: 16px 10px;
    color: #46454E;
    background: #E8EFF7;
    font-size: 0.9rem;
}

.register-btn .nav-link.active {
    background: #0355D0;
    color: #ffffff;
}

.register-form-input {
    border: 1px solid #95B6D8;
    border-radius: 8px;
}

.input-group-text i {
    color: #64646B;
}

.register-form-input .form-control:focus {
    box-shadow: none;
}

.terms_link a {
    color: #0355D0;
    font-weight: 600;
}
.email-resend-btn {
    color: #0355D0;
}
.signIn_link {
    color: #0355D0;
    font-weight: 600;
}

.btn-signup {
    background: #0355D0;
    color: #ffffff;
    border-radius: 8px;
    padding: 16px;
}

.btn-signup:hover {
    color: #ffffff;
}

.btn-googlesignup {
    background: #E8EFF7;
    color: #181722;
    border-radius: 8px;
    padding: 16px;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 0 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    font-family: 'Source Sans Pro';
}

.navbar-dark .navbar-nav .nav-link.active {
    font-weight: 600;
    color: #ffffff;
    border-bottom: 5px solid #FB5404;
}

.carousel-item img{
    max-height: 544px;
}

.popular-job-category {
    font-family: 'Source Sans Pro';
}

#popular-job-category-title {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    color: #0355D0;
}

#popular-job-category-sub-title {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #64646B;
}

#job-category-box {
    border: 1px solid #E8EFF7;
    border-radius: 4px;
    padding: 10px 0;
}

#job-category-icon {
    padding: 15px 0;
}

#job-category-icon i {
    font-size: 35px;
    line-height: 62px;
    color: #FB5404;
    width: 65px;
    height: 65px;
}

#job-category-name-title {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181722;
}

#job-category-name-position {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #46454E;
}

#job-category-box:hover {
    background: #FFF1EB;
    border: 1px solid #FFF1EB;
}

#job-category-box:hover #job-category-icon i{
    background: #FB5404;
    border-radius: 100%;
    color: #FFFFFF;
}

.btn-browse-category {
    background: #0355D0;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 16px;
}

.btn-browse-category:hover {
    background: #02409C;
    color: #FFFFFF;
}
.footer-hr {
    background: #FB5404;
    border: 1px solid #FB5404; 
    opacity: 1;
}
.footer-links {
    color:#46454E;
}
.footer-address {
    color: #181722;
}
.footer-phone {
    color:#0355D0;
}
.footer-copyright {
    background: #0355D0;
}
.copyright-link {
    color: #ffffff;
    text-decoration: underline;
}
.img-profile {
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.register-header h5 {
    color: #46454E;
}
.forger_password {
    color: #46454E;
    font-weight: 600;
}
/* #seekerTab, #employerTab {
    border: 1px solid #95B6D8;
    border-radius: 8px 8px 0 0;
    border-bottom: 0;
} */

.employer-dashboard {
    border: 1px solid #95B6D8;
    border-radius: 8px;
    padding: 0;
}
.seeker-dashboard-header {
    background-image: url('../../img/seeker/Jobseeker-profile-bg-SVG.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 160px;
    border: 1px solid #95B6D8;
    border-radius: 8px 8px 0 0;
    border-bottom: 0;
}
#seekerTab li{
    padding: 16px 0;
}
.nav-item .active {
    color: #0355D0;
    font-weight: 700;
    padding: 16px 0;
    border-bottom: 4px solid #FB5404;
    text-decoration: none;
}
.seeker-single-tab, .employer-single-tab{
    color: #181722;
}
/* #edit-profile-header {
    border: 1px solid #95B6D8;
    border-radius: 0 0 8px 8px;
    border-top: 0;
} */
#edit-profile-header h5{
    color: #0355D0;
    font-weight: 600 !important;
}
#edit-profile-body {
    border: 1px solid #95B6D8;
    border-radius: 8px;
}
#edit-profile-body h5 {
    color: #181722;
    font-weight: 600 !important;
}
.seeker-profile {
    width: 50px;
    height: 50px;
    background: #E1EBF4;
}
.seeker_image_input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.seeker_image_input_label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    font-weight: 400;
    color: #181722;
    padding: 6px 12px;
    background-color:  #E8EFF7;
}
.profile-preview {
    align-items: center;
    border-radius: 8px;
    font-weight: 600;
    color: #0355D0;
    padding: 6px 12px;
    background-color:  #E8EFF7;
}
.profile-preview:hover {
    background-color:  #a1c6f1;
    color: #0355D0;
}
.profile-save-btn {
    align-items: center;
    border-radius: 8px;
    font-weight: 600;
    color: #ffffff;
    padding: 6px 12px;
    background-color:  #0355D0;
}
.profile-save-btn:hover {
    color: #ffffff;
    background-color:  #083174;
}
.seeker_label {
    font-weight: 600;
    color: #46454E;
}
.seeker_input {
    border: 1px solid #95B6D8;
    Padding: 6px 12px;
    border-radius: 8px;
}
.select2-container .select2-selection--single {
    height: 40px;
}
.select2-container .select2-selection--multiple {
    height: 38px;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #95B6D8;
    Padding: 6px 12px;
    border-radius: 8px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px;
}
span.select2.select2-container.select2-container--default.select2-container--focus {
    border: 1px solid #ff0000;
    border-radius: 8px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #000000;
}
.form-control {
    color: #000000
}
.close-btn {
    border-radius: 8px;
}
.modal-dialog {
    max-width: 50%;
}
.update-close-btn {
    border-radius: 8px;
}
.seeker-name {
    font-weight: 600;
    color: #181722;
    font-size: 20px;
}
a:hover {
    text-decoration: none;
}
.seeker-icon {
    color: #666666;
    font-size: 18px;
}
.seeker-info {
    color: #8A8988;
}
.profile-count {
    color: #46454E;
    font-weight: 600;
    font-size: 16px;
}
.profile-number {
    color: #0355D0;
    font-weight: 600;
    font-size: 39px;
}
.border-right-profile {
    border-right: 1px solid #95B6D8;
}

@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.pie {
    --b:10px;
    --c:#0355D0;
    --w:130px;
    --z: #E8EFF7;
    width:var(--w);
    aspect-ratio:1;
    position:relative;
    display:inline-grid;
    place-content:center;
    font-size:25px;
    font-weight:bold;
}
.pie:before,
.pie:after {
    content:"";
    position:absolute;
    border-radius:50%;
}
.pie:before {
    inset: 0;
    background:
        radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}
.pie:after {
    inset:calc(50% - var(--b)/2);
    background:var(--c);
    transform:rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}
.animate {
    animation:p 1s .5s both;
}
@keyframes p {
    from{--p:0}
}

.industry_id .select2-container .select2-selection--single {
    height: 55px;
}
.industry_id .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 43px;
}
.industry_id .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}
.industry_id .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 8px;
}
#edit-profile-text {
    background: #FFE0E5;
    border-radius: 8px 8px 0 0;
}
.profile-status {
    background: #0355D0;
    border-radius: 0 0 8px 0;
}
.progress {
    height: 0.5rem;
    background: #95B6D8;
}
.progress-bar {
    width: 0;
    background: #FFFFFF;
    border-radius: 0.25rem;
    animation: progress 1.5s ease-in-out forwards;
} 

@keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
} 
@keyframes show  {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.ex3 {
    max-height: 765px;
    overflow: auto;
}

.jobpost-attr {
    color: #696968;
    font-size: 14px;
}
.job-post-fav {
    color: #6494C6
}
.ex3::-webkit-scrollbar
{
	width: 12px;
	background-color: #E8EFF7;
    border-radius: 50px;
}
.ex3::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1860AA;
}
.jobpost-header {
    background: #EBF5FF;
}
.apply-btn {
    border-radius: 50px;
}
.btn-save-job {
    border-radius: 50px;
    border: 1px solid #1860AA;
    background-color: #ffffff;
    color: #1860AA;
}
.jobpost-body h5 {
    color: #46454E;
    font-weight: 900 !important;
}
.jobpost-body p {
    color: #64646B;
}
.seeker-job-list {
    border: 1px solid #B7CEE5;
}
.seeker-job-list:hover {
    border-left: 5px solid #0355D0;
    background: #EBF5FF;
}

.seeker-job-list.active{
    border-left: 5px solid #0355D0;
    background: #EBF5FF;
}
a.disabled {
    pointer-events: none;
    cursor: default;
}
.employer-image-text {
    color: #46454E;
    font-weight: 600 !important;
}
.employer-logo-upload, .employer-background-upload, .employer-qr-upload {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
}
.employer-logo-remove, .employer-background-remove, .employer-qr-remove {
    top: 45px;
    right: 0
}
.cv-item li {
    list-style: none;
    padding: 10px;
}
.cv-status.active {
    background: #E1EDFF;
    color: #0355D0;
    border-radius: 5px;
    font-weight: 600;
}

.applicant-receive-table thead {
    background: #E8E8E9;
}
.applicant-receive-table .active {
    color: #0355D0;
}
.app_receive_education h4 {
    font-size: 18px;
}
.app_receive_skill h4 {
    font-size: 18px;
}
.app_receive_lang h4 {
    font-size: 18px;
}
.app_receive_reference h4 {
    font-size: 18px;
}
.app_receive_experience h4 {
    font-size: 18px;
}
.applicant-receive-table-tr {
    cursor: pointer;
}
#edit-profile-body table {
    font-size: 14px;
}
.seeker_attachment {
    position: relative;
}
.overlay {
    width: 98%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    filter: blur(13px);
    top: 0;
    background: url(../../img/background/istockphoto-1279104620-612x612.jpg);
    background-size: cover;
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
}
.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(3px);
}
.hide-loader{
    display:none;
}
.cv-status {
    cursor: pointer;
}
.no-seeker, .profile-overview {
    background: #F0F0F0;
}
.step {
    color: #fff;
    background-color: #0355D0;
    width: 72px;
    height: 72px;
    border-radius: 50px;
    line-height: 72px;
    text-align: center;
}
.table-bordered thead{
    background: #95B6D8;
}
.opening-job-icon {
    color: #0355D0;
    font-size: 25px;
    width: 64px;
    height: 64px;
    background: #E1EBF4;
    border-radius: 50px;
    padding: 14px 19px;
}
.overview-title {
    color: #64748B;
}
.points-icon {
    color: #FB5404;
    font-size: 25px;
    width: 64px;
    height: 64px;
    background: #FFE2D6;
    border-radius: 50px;
    padding: 14px 19px;
}
#last-job-post {
    border-radius: 8px;
    border: 1px solid #88C3FF;
}
.apply-progress-bar {
    width: 0;
    background: #0355D0;
    border-radius: 0.25rem;
    animation: progress 1.5s ease-in-out forwards;
}
.employer-header-logo {
    width: 150px;
    height: 150px;
    background: #0355D0;
}
.employer-dashboard-header {
    border-radius: 8px 8px 0 0;
}
.economy {
    background: #E5EFFF;
    color: #0565FF;
}
.standard {
    background: #FAEBF4;
    color: #C72C91;
}
.premium {
    background: #FEF1E7;
    color: #F58220;
}
.test-image-box {
    width: 120px;
    height: 120px;
    background: #E4E3E2;
    border-radius: 8px;
}
.test-image-preview {
    width: 120px;
    height: 120px;
    border-radius: 8px;
}
.test-image-remove {
    top: 110px;
    left: 120px
}
.image_upload_remove {
    right: 10px;
    top: -10px;
}