body {
    font-family: 'Source Sans Pro';
}
.navbar {
    background: #0355D0;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.header-btn {
    background: #FB5404;
    border-radius: 50px;
    color: #ffffff;
    padding: 10px 24px;
}

.header-btn:hover {
    color: #ffffff;
}

.register-header h2 {
    color: #0355D0;
}

.open-quote {
    background: #D0E8FF;
    border-radius: 8px;
    color: #181722;
    padding: 12px 15px;
}

.hr-speech p {
    color: #46454E;
    font-weight: 400;
}

.hr-name {
    color: #46454E;
    font-weight: 600;
}

.hr-position {
    color: #46454E;
    font-weight: 400;
}

.register-box {
    border-radius: 16px;
}

.register-btn .nav-link {
    border-radius: 8px;
    padding: 16px 10px;
    color: #46454E;
    background: #E8EFF7;
    font-size: 0.9rem;
}

.register-btn .nav-link.active {
    background: #0355D0;
    color: #ffffff;
}

.register-form-input {
    border: 1px solid #95B6D8;
    border-radius: 8px;
}

.input-group-text i {
    color: #64646B;
}

.register-form-input .form-control:focus {
    box-shadow: none;
}

.terms_link a {
    color: #0355D0;
}

.navbar-dark .navbar-nav .nav-link {
    padding: 0 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    font-family: 'Source Sans Pro';
}

.navbar-dark .navbar-nav .nav-link.active {
    font-weight: 600;
    color: #ffffff;
    border-bottom: 5px solid #FB5404;
}

.carousel-item img{
    max-height: 544px;
}

.popular-job-category {
    font-family: 'Source Sans Pro';
}

#popular-job-category-title {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    color: #0355D0;
}

#popular-job-category-sub-title {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #64646B;
}

#job-category-box {
    border: 1px solid #E8EFF7;
    border-radius: 4px;
    padding: 10px 0;
}

#job-category-icon {
    padding: 15px 0;
}

#job-category-icon i {
    font-size: 35px;
    line-height: 62px;
    color: #FB5404;
    width: 65px;
    height: 65px;
}

#job-category-name-title {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181722;
}

#job-category-name-position {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #46454E;
}

#job-category-box:hover {
    background: #FFF1EB;
    border: 1px solid #FFF1EB;
}

#job-category-box:hover #job-category-icon i{
    background: #FB5404;
    border-radius: 100%;
    color: #FFFFFF;
}

.btn-browse-category {
    background: #0355D0;
    color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 16px;
}

.btn-browse-category:hover {
    background: #02409C;
    color: #FFFFFF;
}
.footer-hr {
    border: 1px solid #FB5404; 
    opacity: 1;
}
.footer-links {
    color:#46454E;
}
.footer-address {
    color: #181722;
}
.footer-phone {
    color:#0355D0;
}
.footer-copyright {
    background: #0355D0;
}
.copyright-link {
    color: #ffffff;
    text-decoration: underline;
}