
/*search box css start here*/
.search-sec{
    padding: 2rem;
}

.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}

input.form-control.search-slt.job-title {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

select.form-control.search-slt.location {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: 1rem;
    background-color: #fff;
}

.search-job-btn{
    width: 80%;
    font-size: 16px;
    background: #FB5404;
    font-weight: 400;
    color: #ffffff;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
    border-radius: 50px;
    padding: 10px 0px;
}

.form-group.has-search {
    margin-bottom: 0rem;
}

.has-search .form-control {
    padding-left: 2.375rem;
}
  
.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 15%;
    text-align: center;
    pointer-events: none;
    height: 50px;
    font-size: 15px;
  }
  
.fa-search:before {
    content: "\f002";
    line-height: 3rem;
}

.fa-map-marker:before {
    content: "\f041";
    line-height: 3rem;
}

.fa-shopping-bag:before {
    content: "\f290";
    line-height: 3rem;
}

.function-area select{
    overflow: auto;
    
    height: 80px; /* adjust height depending on number of options to display */
    border: 1px silver solid;
      
}

.function-area button.multiselect.dropdown-toggle.custom-select.text-center {
    border: none;
    border-radius: 0px;
    height: calc(2em + 0.8rem + 3px);
}

.function-area .multiselect-container.dropdown-menu {
    height: 500px;
    overflow: auto;
}

.function-area .btn-group {
    width: 100% !important;
}

.function-area .multiselect-container.dropdown-menu.show {
    width: 100%;
    border-radius: 0;
}

.multiselect-selected-text {
    margin-left: -35%;
}

.search-job-btn:hover{
    color: #fff;
}

/*Trending Jobs css start here*/
.trending-scroll {
    height:600px;
    overflow: auto;
}
.trending-scroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #E8EFF7;
    border-radius: 50px;
}
.trending-scroll::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #1860AA;
}

#trending-job-title {
    /* font-family: 'SourceSansPro-SemiBold'; */
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #181722;
    margin: 0px;
}

#trending-job-sub-title {
    /* font-family: 'SourceSansPro-Regular'; */
    font-weight: 400;
    /* font-size: 13px; */
    color: #0355d0;
}

.trending-job-list {
    border: none;
}

.trending-job-list:hover {
    background: #EBF5FF;
}

.trending-job-list.active{
    border-left: 5px solid #0355D0;
    background: #EBF5FF;
}

.text-orange {
    color: #FB5404;
}

.text-blue {
    color: #0355D0 !important;
}

.fz13{
    font-size: 13px;
}

.fz14{
    font-size: 14px !important;
}

.fz15{
    font-size: 15px !important;
}

.fz17{
    font-size: 17px;
}

.w-auto {
    width: auto;
}

.form-height-0 {
    height: 0px;
}

.rotate45 {
    transform: rotate(-45deg);
}

ol li {
    margin-bottom: 0.5rem !important;
}

ul li {
    margin-bottom: 0.5rem !important;
}

.bg-yellow {
    background-color: yellow !important;
}

.gradient-img {
    /* background: linear-gradient(90deg, rgb(21 20 22) 0%, rgb(38 34 34) 50%, rgb(10 10 10) 100%);   */
    background: linear-gradient(90deg, rgb(21 20 22) 0%, rgb(38 34 34) 0%, rgb(10 10 10) 0%);  
    display: flex;
}
.gradient-img img {
    opacity: 0.5;
    transition: opacity 500ms 0ms ease-in-out;
}

.gradient-text span{
    /* font-family: 'SourceSansPro'; */
    font-size: 18px;
    top: 1px;
    position: absolute;
    color: #fff;
    font-weight: bold;
}

/* Job Interview css start here*/
#job-interview {
    background-image: url('../../frontend/img/job-interview/job-interview-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 425px;
    width: 100%;
}

.job-interview-title {
    color: #fff;
    font-size: 25px;
    /* font-family: 'SourceSansPro'; */
}

.job-interview-content {
    color: #fff;
    /* font-family: 'SourceSansPro'; */
}

.interview-btn {
    /* font-family: 'SourceSansPro'; */
    background: #fc712d;
    color: #fff;
    border-radius: 8px;
    padding: 12px 24px;
    font-size: 16px;
}

a.interview-btn:hover {
    color: #fff;
}

/* Additional Service css start here*/
#additional-service-title {
    font-family: 'Source Sans Pro';
    font-size: 25px;
    line-height: 31px;
    color: #0355D0;
}

#additional-service-box {
    padding: 10px 0;
}

#additional-service-icon {
    padding: 15px 0;
}

#additional-service-icon i {
    font-size: 35px;
    line-height: 62px;
    color: #FB5404;
    width: 65px;
    height: 65px;
}

#additional-service-name h4 {
    font-size: 20px;
    color: #46454e;
}

/* Explore the Marketplace css start here*/
#explore-marketplace-title {
    font-family: 'Source Sans Pro';
    font-size: 25px;
    line-height: 31px;
    color: #0355D0;
}

#explore-marketplace-box {
    width: 144px;
    height: 144px;
    flex-grow: 0;
    border-radius: 24px;
    background-image: linear-gradient(to bottom, #000046 -59%, #1cb5e0 124%);
}

.explore-marketplace-icon i {
    font-size: 40px;
}

.explore-marketplace-title {
    /* font-family: 'SourceSansPro'; */
    font-size: 18px;
}

#explore-marketplace-box:hover{
    color: #0355D0;
}

/* Find Jobs css start here*/
.find-jobs-search{
    position: relative;
    background: rgb(3 85 208);
    z-index: 100;
    background-image: url('../../img/findjobs_banner.svg');
}

.find-jobs-header {
    /* font-family: 'SourceSansPro'; */
}

.job-trending-scroll {
    background: #fff;
    height:980px;
    overflow: auto;
}

.job-similar-scroll {
    background: #fff;
    height:580px;
    overflow: auto;
}

.right-trending-title {
    background-color: #0355d0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.job-content,
.company-content,
.job-opening {
    border-radius: 8px;
    border: solid 1px #b7cee5;
    background-color: #fff;
}

.job-content.mb-3:hover,
.company-content:hover {
    border: 2px solid #0355d0;
}

.btn.job-btn {
    background-color: #e8eff7;
    border-color: #e8eff7;
    border-radius: 50px;
}

.job-company {
    color: #696968;
    line-height: 1.5;
}

.job-title {
    font-size: 1rem;
    color: #181722;
    line-height: 1.5;
}

.job-location {
    color: #696968;
    line-height: 1.5;
}

.job-salary {
    color: #181722;
}

/* Companies css start here*/
.company-banner-search{
    border-radius: 50px;
    background-color: #E8EFF7;
    border: 1px solid #69696838;
}

.company-banner{
    position: relative;
    background: rgb(3 85 208);
    z-index: 100;
    background-image: url('../../img/findjobs_banner.svg');
}

.job-post-area {
    color: #0355D0;
    font-size: 16px;
    font-weight: 600;
}

.job-post-preview {
    color: #959499;
    font-size: 16px;
    font-weight: 400;
}

.job-post-badge {
    width: 75px;
    height: 25px;
    font-size: 15px;
    font-weight: 400;
}

input.form-control.search-slt.company-search {
    box-shadow: 0 0 0 0.2rem rgb(245 242 244 / 25%);
    padding-left: 4rem;
}

span.form-control-feedback.company-icon {
    width: auto;
    padding-left: 2rem;
}

.search-slt.company-search{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: transparent;
    background-image: none;
    border: none;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}

.company-search-btn {
    font-size: 16px;
    background: #FB5404;
    font-weight: 400;
    color: #ffffff;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
    border-radius: 50px;
    padding: 10px 30px;
}

.company-search-btn:hover,
.see-all-btn:hover,
.apply-company-btn:hover {
    color: #fff;
}

.company-name h3 {
    font-size: 16px;
    color: #181722;
    font-weight: 600;
}

.company-rating-icon {
    color: #0355d0;
}

.company-job-count {
    background: #ECF2F8;
    border-radius: 8px;
}

.company-rating-count {
    color: #0355d0;
    font-weight: bold;
}


/* Community css start here*/
.community-form {
    height: 65px;
    border-radius: 50px;
    background-color: #b7cee5;
}

.community-form {
    left: 50%;
    transform: translate(-50%, -50%);
}

.community-search {
    border-radius: 50px;
}

.community-form-btn {
    width: 100%;
    font-size: 16px;
    background: #0355d0;
    font-weight: 400;
    color: #ffffff;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius: 0;
    border-radius: 50px;
    line-height: 1rem;
}

.community-form-btn:hover{
    color: #fff;
}

/* Company Detail css start here*/
.company-profile {
    border-radius: 8px;
    border: solid 1px #b7cee5;
    background-color: #fff;
}

.about-company-header {
    height: 55px;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 12px 16px;
    border-radius: 2px;
    border-left: solid 4px #0355d0;
    background-color: #edf5fc;
}

.about-company-title {
    font-size: 25px;
    line-height: normal;
}

.view-detail-btn {
    /* width: 100%; */
    font-weight: 400;
    color: #4680bb;
    text-transform: capitalize;
    height: calc(2.5rem + 2px) !important;
    border: 1px solid #4680bb;
    border-radius: 50px;
    line-height: 1rem;
    padding: 10px 12px !important;
}

.see-all-btn {
    width: 160px;
    /* height: 48px; */
    align-items: center;
    border-radius: 8px;
    color: #fff;
    background-color: #0355d0;
}

page[size="A4"] {  
    /* width: 21cm; */
    overflow-y: scroll;
    height: 25cm; 
}

page {
    background: white;
    display: block;
    margin: 0.5cm auto;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    padding: 50px;
}

#resume_profile_img:hover {
    border: solid 1px #0355d0;
}

.resume-section {
    border: solid 1px #0355d0;
}

.resume-header {
    border: solid 1px #0355d0;
    background-color: #0355D0;
}

#resume-form {
    overflow-y: scroll;
    height: 25cm;
}

#resume_img {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
}

.resume-template-background {
    background: rgb(204,204,204); 
}

.bdr2{
    border-right: 2px solid #95b6d8;
}

.company-profile-deatil h3 {
    font-size: 20px;
    color: #181722;
}

.profile-qr {
    border-radius: 4px;
    border: solid 1px #181722;
}

.favourite-btn,
.favourite-btn:hover {
    height: 48px;
    border-radius: 8px;
    border: solid 1px #0355d0;
    color: #0355d0;
}


/* Employer Dashboard Popup css start here*/
.economy-title {
    color: #0565FF;
    font-size: 1rem;
}

.standard-title {
    color: #C72C91;
    font-size: 1rem;
}

.premium-title {
    color: #F58220;
    font-size: 1rem;
}

.economy-desc,
.standard-desc,
.premium-desc {
    font-size: 15px;
    /* height: 170px; */
    color: #181722;
}

.package-promotion {
    height: 20px;
    color: #0355d0;
    font-size: 13px;
    font-weight: bold;
}

.text-black {
    color: #000;
}

.package-plans {
    font-size: 13px;
    color: #64646b;
}

.btn-outline-economy{
    width: 100%;
    border-color: #0565FF;
    border-radius: 50px;
    font-size: 16px;
    color: #0565FF;
}

.btn-outline-standard{
    width: 100%;
    border-color: #C72C91;
    border-radius: 50px;
    font-size: 16px;
    color: #C72C91;
}

.btn-outline-premium{
    width: 100%;
    border-color: #F58220;
    border-radius: 50px;
    font-size: 16px;
    color: #F58220;
}

/* Seeker Profile Banner css start here*/
.edit-profile-tab-border {
    border-top: 1px solid #95B6D8;
    border-left: 1px solid #95B6D8;
    border-right: 1px solid #95B6D8;
}

.edit-profile-header-border {
    border: 1px solid #95B6D8 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 8px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 8px !important;
    border-top: 0px !important;
}

/* Job Post Detail css start here*/
.apply-company-btn {
    align-items: center;
    /* border-radius: 8px; */
    color: #fff;
    background-color: #0355d0;
}

.job-post-detail.nav-link {
    font-weight: 900;
    color: #0355D0;
    background-color: transparent;
    font-size: 16px;
}

.job-post-detail.nav-link.active {
    color: #000;
    border: none;
    border-bottom: solid 2px #FB5404;
}

.job-post-detail.nav-link:hover {
    color: #000;
    border: none;
    border-bottom: solid 2px #FB5404;
}

.job-post-detail-company-profile {
    border: 2px solid #95b7d880;
    border-radius: 10px;
}

.job-post-detail-company-profile img {
    border: 2px solid #95b7d880;
    margin-top: -40%;
}

#job-post-preview-company-logo {
    max-width: 75px;
}

#ProfilePreview {
    max-width: 75px;
}

.company-list-header {
    font-size: 23px
}

.company-detail-logo {
    width: 120px;
    height: 120px;
}

.employer-title {
    font-size: 14px;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    color: #0355d0;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  .owl-nav button.owl-prev {
    left: -15px;
    border-color: transparent;
    background: none;
  }
  .owl-nav button.owl-next {
    right: -15px;
    border-color: transparent;
    background: none;
  }
  .owl-nav button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  }
  .owl-prev span,
  .owl-next span {
      font-size: 70px;    
      position: relative;
      top: -5px;
  }
  .owl-nav button:focus {
      outline: none;
  }

/* @media css start */
@media (max-width: 1024px) {
    .multiselect-selected-text {
        margin-left: -15%;
    }
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: -114px;
        background: rgb(23 23 28 / 51%);
        z-index: 100;
    }
}

@media (max-width: 768px) {
    .form-height-0 {
        height: 100%;
    }
    .multiselect-selected-text {
        margin-left: 0;
    }
    .company-detail-logo {
        width: 100px;
        height: 100px;
    }
    .job-post-detail-company-profile img {
        margin-top: -60%;
    }
    .company-detail-media {
        margin-top: 50px;
    }
}

@media (max-width: 425px) {
    .multiselect-selected-text {
        margin-left: -35%;
    }
    .company-list-header {
        font-size: 20px
    }
    .company-detail-media {
        margin-top: 0px;
    }
}

@media (max-width: 375px) {
    .multiselect-selected-text {
        margin-left: -20%;
    }
}

@media (max-width: 320px) {
    .multiselect-selected-text {
        margin-left: -8%;
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }

    .company-search-btn {
        padding: 12px !important;
    }
}

@media (max-width: 575.98px) {    

    .form-group.has-search {
        margin-bottom: 1rem;
    }

    input.form-control.search-slt.job-title {
        border-radius: 0px;
    }
    
    select.form-control.search-slt.location {
        border-radius: 0px;
    }

    .company-banner-search{
        border-radius: none;
        background-color: transparent;
    }

    .search-slt.company-search{ 
        background-color: #fff;
        border-radius: 50px;
    }

    .company-search-btn{
        width: 100%;
    }
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.login-page {
    background-image: url(../img/background/viber_image_2023-09-29_14-42-26-551.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
