.select2-container .select2-selection--single {
    height: 32px;
}
.logo-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.logo-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.logo-upload {
    position: relative;
    max-width: 205px;
    margin: -80px 0 50px 0;
}
.logo-edit {
    position: absolute;
    z-index: 1;
    top: 10px;
}
.logo-edit input {
    display: none;
}
.logo-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}
.logo-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.logo-edit input + label::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f303";
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.logo-remove {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.logo-remove label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}
.logo-remove label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.logo-remove label::after {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f2ed";
    color: #921212;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.image-preview {
    width: 400px;
    height: 192px;
    position: relative;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.image-preview > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.resume-section {
    border: solid 1px #0355d0;
}

.resume-header {
    border: solid 1px #0355d0;
    background-color: #0355D0;
}

.dashboard-card:hover {
    border: solid 1px #0355d0;
}
.slider-image {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
}
.employer-background-edit-icon {
    cursor: pointer;
}